<div id="ms-loading-box" class="ms-dlgContent">
	<div id="ms-gearPageTitle">
		<h1 class="ms-dlgTitle">{{SP.Res.dialogLoading15}}</h1>
	</div>
	<div id="ms-gearPageBody">
		<span class="ms-textLarge">
			<a id="gearsImageLink" href="javascript:;" onclick="hideGears();" title="This animation indicates the operation is in progress. Click to remove this animated image.">
				<img id="gearsImage" alt="This animation indicates the operation is in progress. Click to remove this animated image." src="/_layouts/15/images/gears_anv4.gif" style="width:16px; height:16px; font-size:0px;"></a>
			<span class="ms-loading-message">Sorry to keep you waiting.</span>
		</span>
	</div>
</div>
