<span dir="ltr">
	<textarea ng-model="value" data-spfield-focus-element="true" maxlength="{{schema.MaxLength}}" ng-maxlength="{{schema.MaxLength}}" ng-required="{{schema.Required}}" rows="{{schema.NumberOfLines}}" cols="20" title="{{schema.Title}}" class="ms-long"></textarea>
</span>
<br/>
<spfield-validation-messages></spfield-validation-messages>
<div class="ms-formdescription" ng-if="schema.RichText && !rteFullHtml && currentMode == 'edit'">
    <a href="javascript:HelpWindowKey('nsrichtext')" ng-bind="rteHelpMessage"></a>
</div>
<div ng-if="schema.AppendOnly">
    <div ng-repeat="version in versions">
        <span class="ms-noWrap">
            <span class="ms-imnSpan">
                <a href="#" onclick="IMNImageOnClick(event);return false;" class="ms-imnlink ms-spimn-presenceLink">
                    <span class="ms-spimn-presenceWrapper ms-imnImg ms-spimn-imgSize-10x10">
                        <img name="imnmark" class="ms-spimn-img ms-spimn-presence-disconnected-10x10x32" title="" showofflinepawn="1" src="/_layouts/15/images/spimn.png?rev=23" alt="No presence information" />
                    </span>
                </a>
            </span>
            <span class="ms-noWrap ms-imnSpan">
                <a href="#" onclick="IMNImageOnClick(event);return false;" class="ms-imnlink" tabindex="-1">
                    <img name="imnmark" class="ms-hide" title="" showofflinepawn="1" src="/_layouts/15/images/blank.gif?rev=23" alt="" />
                </a>
                <a class="ms-subtleLink" onclick="GoToLinkOrDialogNewWindow(this);return false;" href="/_layouts/15/userdisp.aspx?ID={{version.editor.id}}" ng-bind="version.editor.name"></a>
            </span>
        </span>
        (<a href="/_layouts/15/listform.aspx?ListId={{item.list.Id}}&PageType=4&ID={{item.Id}}&Source={{defaultViewUrl}}&VersionNo=3072" ng-bind="version.modified | date:cultureInfo.dateTimeFormat.ShortDatePattern + ' ' + cultureInfo.dateTimeFormat.ShortTimePattern"></a>): <span ng-bind-html="version.value | unsafe"></span>
    </div>
</div>
