<span dir="ltr">
	<textarea ng-model="value" data-spfield-focus-element="true" maxlength="{{schema.MaxLength}}" ng-maxlength="{{schema.MaxLength}}" ng-required="{{schema.Required}}" rows="{{schema.NumberOfLines}}" cols="20" title="{{schema.Title}}" class="ms-long"></textarea>
</span>
<br/>
<spfield-validation-messages></spfield-validation-messages>
<div class="ms-formdescription" ng-if="schema.RichText && currentMode == 'edit'">
    <a href="javascript:HelpWindowKey('nsrichtext')">Click for help about adding basic HTML formatting.</a>
</div>
