<span dir="ltr">
	<textarea ng-model="value" ng-required="{{schema.Required}}" rows="{{schema.NumberOfLines}}" cols="20" title="{{schema.Title}}" class="ms-long" style="width: 100%"></textarea>
</span>
<br/>
<spfield-validation-messages></spfield-validation-messages>
<div class="ms-formdescription" ng-if="schema.RichText && currentMode == 'edit'">
    <a href="javascript:HelpWindowKey('nsrichtext')">Click for help about adding basic HTML formatting.</a>
</div>
<!--<br ng-if="schema.RichText" />-->