<table id="{{idPrefix}}_$DateTimeFieldTopTable" border="0" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td class="ms-dtinput">
				<label for="{{idPrefix}}_$DateTimeFieldDate" style="display:none">{{STSHtmlEncode(StBuildParam(Strings.STS.L_DateTimeFieldDateLabel, schema.InternalName))}}</label>
				<input type="text" ng-model="dateOnlyModel" maxlength="45" id="{{idPrefix}}_$DateTimeFieldDate" title="{{schema.Title}}" class="ms-input" autopostback="0" />
			</td>
			<td class="ms-dtinput">
				<a href="" ng-click="showDatePicker($event)">
					<img id="{{idPrefix}}_$DateTimeFieldDate{{DatePickerImageID}}" src="/_layouts/15/images/calendar.gif" border="0" alt="{{STSHtmlEncode(Strings.STS.L_DateTimeFieldSelectTitle)}}"/>
				</a>
			</td>
			<td>
				<iframe id="{{idPrefix}}_$DateTimeFieldDate{{DatePickerFrameID}}" src="/_layouts/15/images/blank.gif" frameborder="0" scrolling="no" style="display:none; position:absolute; width:200px; z-index:101;" title="{{STSHtmlEncode(Strings.STS.L_DateTimeFieldSelectTitle)}}"></iframe>
			</td>
			<td class="ms-dttimeinput" nowrap="nowrap" ng-if="schema.DisplayFormat == 1">
				<label for="{{idPrefix}}_$DateTimeFieldDateHours" style="display:none">{{STSHtmlEncode(StBuildParam(Strings.STS.L_DateTimeFieldDateHoursLabel, _myData.fieldName))}}</label>
				<select id="{{idPrefix}}_$DateTimeFieldDateHours" ng-model="$parent.hoursModel" ng-options="hour for hour in hours" dir="{{direction}}"></select>
				<label for="{{idPrefix}}_$DateTimeFieldDateMinutes" style="display:none">{{STSHtmlEncode(StBuildParam(Strings.STS.L_DateTimeFieldDateMinutesLabel, _myData.fieldName))}}</label>
				<select id="{{idPrefix}}_$DateTimeFieldDateMinutes" ng-model="$parent.minutesModel" ng-options="minute for minute in minutes" dir="{{direction}}"></select>
			</td>
		</tr>
	</tbody>
</table>