<div>
	<!-- Form Toolbar DISPLAY MODE -->
	<table cellpadding="0" cellspacing="0" width="100%" style="padding-top: 7px" ng-if="mode == 'display'">
		<tbody>
			<tr>
				<td width="100%">
					<!--
					<input name="ctl00$ctl28$g_e2bc9482_4bc2_4158_98ba_504fcc7169d8$ctl00$ctl08$ctl00$owshiddenversion" type="HIDDEN" id="ctl00_ctl28_g_e2bc9482_4bc2_4158_98ba_504fcc7169d8_ctl00_ctl08_ctl00_owshiddenversion"/>
					-->
					<table class="ms-formtoolbar" cellpadding="2" cellspacing="0" border="0" id="ctl00_ctl28_g_e2bc9482_4bc2_4158_98ba_504fcc7169d8_ctl00_toolBarTbl" width="100%">
						<tbody>
							<tr>
								<!--
								<td class="ms-toolbar" nowrap="nowrap">
									<table cellpadding="0" cellspacing="0">
										<tbody>
											<tr>
												<td class="ms-descriptiontext" id="onetidinfoblockV">Version: 26.0</td>
											</tr>
											<tr>
												<td nowrap="nowrap" class="ms-descriptiontext" id="onetidinfoblock1">
													<span id="ctl00_ctl28_g_e2bc9482_4bc2_4158_98ba_504fcc7169d8_ctl00_toolBarTbl_RptControls_ctl00_ctl00_ctl02">
														Created  at 6/26/2014 6:44 PM&amp;nbsp; by
														<nobr>
															<span class="ms-imnSpan">
																<a href="#" onclick="IMNImageOnClick(event); return false;" class="ms-imnlink ms-spimn-presenceLink" tabindex="-1">
																	<span class="ms-spimn-presenceWrapper ms-imnImg ms-spimn-imgSize-10x10">
																		<img title="" alt="No presence information" name="imnmark" class="ms-spimn-img ms-spimn-presence-disconnected-10x10x32" showofflinepawn="1" src="/_layouts/15/images/spimn.png" sip="alguien@example.com" id="imn0,type=sip"/>
																	</span>
																</a>
															</span>
															<span class="ms-noWrap ms-imnSpan">
																<a href="#" onclick="IMNImageOnClick(event); return false;" class="ms-imnlink" tabindex="-1">
																	<img title="" alt="No presence information" name="imnmark" class="ms-hide" showofflinepawn="1" src="/_layouts/15/images/spimn.png" sip="alguien@example.com" id="imn1,type=sip"/>
																</a>
																<a onclick="GoToLinkOrDialogNewWindow(this); return false;" class="ms-peopleux-userdisplink ms-subtleLink" href="/_layouts/15/listform.aspx?PageType=4&amp;ListId={a12cca6c-a92e-495a-80ce-66f110b74735}&amp;ID=1">0#.w|sp2013-01\administrador</a>
															</span>
														</nobr>
													</span>
												</td>
											</tr>
											<tr>
												<td nowrap="nowrap" class="ms-descriptiontext" id="onetidinfoblock2">
													<span id="ctl00_ctl28_g_e2bc9482_4bc2_4158_98ba_504fcc7169d8_ctl00_toolBarTbl_RptControls_ctl00_ctl00_ctl03">
														Last modified at 7/14/2014 1:15 PM&amp;nbsp; by
														<nobr>
															<span class="ms-imnSpan">
																<a href="#" onclick="IMNImageOnClick(event); return false;" class="ms-imnlink ms-spimn-presenceLink" tabindex="-1">
																	<span class="ms-spimn-presenceWrapper ms-imnImg ms-spimn-imgSize-10x10">
																		<img title="" alt="No presence information" name="imnmark" class="ms-spimn-img ms-spimn-presence-disconnected-10x10x32" showofflinepawn="1" src="/_layouts/15/images/spimn.png" sip="alguien@example.com" id="imn2,type=sip"/>
																	</span>
																</a>
															</span>
															<span class="ms-noWrap ms-imnSpan">
																<a href="#" onclick="IMNImageOnClick(event); return false;" class="ms-imnlink" tabindex="-1">
																	<img title="" alt="No presence information" name="imnmark" class="ms-hide" showofflinepawn="1" src="/_layouts/15/images/spimn.png" sip="alguien@example.com" id="imn3,type=sip"/>
																</a>
																<a onclick="GoToLinkOrDialogNewWindow(this); return false;" class="ms-peopleux-userdisplink ms-subtleLink" href="/_layouts/15/listform.aspx?PageType=4&amp;ListId={a12cca6c-a92e-495a-80ce-66f110b74735}&amp;ID=1">0#.w|sp2013-01\administrador</a>
															</span>
														</nobr>
													</span>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
								-->
								<td width="99%" class="ms-toolbar" nowrap="nowrap">
									<img src="/_layouts/15/images/blank.gif" width="1" height="18" alt=""/>
								</td>

								<td class="ms-toolbar" nowrap="nowrap">
									<!--
									<table cellpadding="0" cellspacing="0" width="100%">
										<tbody>
											<tr>
												<td align="right" width="100%" nowrap="nowrap">
													<input type="button" name="ctl00$ctl28$g_e2bc9482_4bc2_4158_98ba_504fcc7169d8$ctl00$toolBarTbl$RightRptControls$ctl01$ctl00$diidIOGoBack" value="Close" onclick="STSNavigate('http:\u002f\u002fsp2013-01\u002fLists\u002fIssues\u002fAllItems.aspx');return false;WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$ctl28$g_e2bc9482_4bc2_4158_98ba_504fcc7169d8$ctl00$toolBarTbl$RightRptControls$ctl01$ctl00$diidIOGoBack&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, true))" id="ctl00_ctl28_g_e2bc9482_4bc2_4158_98ba_504fcc7169d8_ctl00_toolBarTbl_RightRptControls_ctl01_ctl00_diidIOGoBack" accesskey="C" class="ms-ButtonHeightWidth" target="_self"/>								
												</td>
											</tr>
										</tbody>
									</table>
									-->
									<input type="button" value="Close" class="ms-ButtonHeightWidth" ng-click="cancelForm()" />

								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>

	<!-- Form Toolbar EDIT MODE -->
	<table cellpadding="0" cellspacing="0" width="100%" style="padding-top: 7px" ng-if="mode != 'display'">
		<tbody>
			<tr>
				<td width="100%">
					<!--
						<input name="ctl00$ctl28$g_ba9f6e2a_381a_4eeb_8d37_4d5b28b8f15a$ctl00$ctl08$ctl00$owshiddenversion" type="HIDDEN" id="ctl00_ctl28_g_ba9f6e2a_381a_4eeb_8d37_4d5b28b8f15a_ctl00_ctl08_ctl00_owshiddenversion" value="25"/>
					-->
					<table class="ms-formtoolbar" cellpadding="2" cellspacing="0" border="0" id="ctl00_ctl28_g_ba9f6e2a_381a_4eeb_8d37_4d5b28b8f15a_ctl00_toolBarTbl" width="100%">
						<tbody>
							<tr>
								<!--
								<td class="ms-toolbar" nowrap="nowrap">
									<table cellpadding="0" cellspacing="0">
										<tbody>
											<tr>
												<td class="ms-descriptiontext" id="onetidinfoblockV">Version: 25.0</td>
											</tr>
											<tr>
												<td nowrap="nowrap" class="ms-descriptiontext" id="onetidinfoblock1">
													<span id="ctl00_ctl28_g_ba9f6e2a_381a_4eeb_8d37_4d5b28b8f15a_ctl00_toolBarTbl_RptControls_ctl00_ctl00_ctl02">
														Created  at 6/26/2014 6:44 PM&nbsp; by
														<nobr>
															<span class="ms-imnSpan">
																<a href="#" onclick="IMNImageOnClick(event); return false;" class="ms-imnlink ms-spimn-presenceLink" tabindex="-1">
																	<span class="ms-spimn-presenceWrapper ms-imnImg ms-spimn-imgSize-10x10">
																		<img title="" alt="No presence information" name="imnmark" class="ms-spimn-img ms-spimn-presence-disconnected-10x10x32" showofflinepawn="1" src="/_layouts/15/images/spimn.png" sip="alguien@example.com" id="imn0,type=sip"/>
																	</span>
																</a>
															</span>
															<span class="ms-noWrap ms-imnSpan">
																<a href="#" onclick="IMNImageOnClick(event); return false;" class="ms-imnlink" tabindex="-1">
																	<img title="" alt="No presence information" name="imnmark" class="ms-hide" showofflinepawn="1" src="/_layouts/15/images/spimn.png" sip="alguien@example.com" id="imn1,type=sip"/>
																</a>
																<a onclick="GoToLinkOrDialogNewWindow(this); return false;" class="ms-peopleux-userdisplink ms-subtleLink" href="/_layouts/15/listform.aspx?PageType=4&amp;ListId={a12cca6c-a92e-495a-80ce-66f110b74735}&amp;ID=1">0#.w|sp2013-01\administrador</a>
															</span>
														</nobr>
													</span>
												</td>
											</tr>
											<tr>
												<td nowrap="nowrap" class="ms-descriptiontext" id="onetidinfoblock2">
													<span id="ctl00_ctl28_g_ba9f6e2a_381a_4eeb_8d37_4d5b28b8f15a_ctl00_toolBarTbl_RptControls_ctl00_ctl00_ctl03">
														Last modified at 7/14/2014 12:51 PM&nbsp; by
														<nobr>
															<span class="ms-imnSpan">
																<a href="#" onclick="IMNImageOnClick(event); return false;" class="ms-imnlink ms-spimn-presenceLink" tabindex="-1">
																	<span class="ms-spimn-presenceWrapper ms-imnImg ms-spimn-imgSize-10x10">
																		<img title="" alt="No presence information" name="imnmark" class="ms-spimn-img ms-spimn-presence-disconnected-10x10x32" showofflinepawn="1" src="/_layouts/15/images/spimn.png" sip="alguien@example.com" id="imn2,type=sip"/>
																	</span>
																</a>
															</span>
															<span class="ms-noWrap ms-imnSpan">
																<a href="#" onclick="IMNImageOnClick(event); return false;" class="ms-imnlink" tabindex="-1">
																	<img title="" alt="No presence information" name="imnmark" class="ms-hide" showofflinepawn="1" src="/_layouts/15/images/spimn.png" sip="alguien@example.com" id="imn3,type=sip"/>
																</a>
																<a onclick="GoToLinkOrDialogNewWindow(this); return false;" class="ms-peopleux-userdisplink ms-subtleLink" href="/_layouts/15/listform.aspx?PageType=4&amp;ListId={a12cca6c-a92e-495a-80ce-66f110b74735}&amp;ID=1">0#.w|sp2013-01\administrador</a>
															</span>
														</nobr>
													</span>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
								-->
								<td width="99%" class="ms-toolbar" nowrap="nowrap">
									<img src="/_layouts/15/images/blank.gif" width="1" height="18" alt=""/>
								</td>

								<td class="ms-toolbar" nowrap="nowrap">

									<!--
									<table cellpadding="0" cellspacing="0" width="100%">
										<tbody>
											<tr>
												<td align="right" width="100%" nowrap="nowrap">
													<input type="button" name="ctl00$ctl28$g_ba9f6e2a_381a_4eeb_8d37_4d5b28b8f15a$ctl00$toolBarTbl$RightRptControls$ctl00$ctl00$diidIOSaveItem" value="Save" onclick="if (!PreSaveItem()) return false;if (SPClientForms.ClientFormManager.SubmitClientForm('WPQ2')) return false;WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$ctl28$g_ba9f6e2a_381a_4eeb_8d37_4d5b28b8f15a$ctl00$toolBarTbl$RightRptControls$ctl00$ctl00$diidIOSaveItem&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, true))" id="ctl00_ctl28_g_ba9f6e2a_381a_4eeb_8d37_4d5b28b8f15a_ctl00_toolBarTbl_RightRptControls_ctl00_ctl00_diidIOSaveItem" accesskey="O" class="ms-ButtonHeightWidth" target="_self"/>
												</td>
											</tr>
										</tbody>
									</table>
									-->
									
									<input type="button" value="Save" class="ms-ButtonHeightWidth" ng-click="saveForm()" />

								</td>

								<td class="ms-separator">&nbsp;</td>

								<td class="ms-toolbar" nowrap="nowrap">

									<!--
									<table cellpadding="0" cellspacing="0" width="100%">
										<tbody>
											<tr>
												<td align="right" width="100%" nowrap="nowrap">
													<input type="button" name="ctl00$ctl28$g_ba9f6e2a_381a_4eeb_8d37_4d5b28b8f15a$ctl00$toolBarTbl$RightRptControls$ctl01$ctl00$diidIOGoBack" value="Cancel" onclick="STSNavigate('http:\u002f\u002fsp2013-01\u002fLists\u002fIssues\u002fAllItems.aspx');return false;WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$ctl28$g_ba9f6e2a_381a_4eeb_8d37_4d5b28b8f15a$ctl00$toolBarTbl$RightRptControls$ctl01$ctl00$diidIOGoBack&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, true))" id="ctl00_ctl28_g_ba9f6e2a_381a_4eeb_8d37_4d5b28b8f15a_ctl00_toolBarTbl_RightRptControls_ctl01_ctl00_diidIOGoBack" accesskey="C" class="ms-ButtonHeightWidth" target="_self"/>
												</td>
											</tr>
										</tbody>
									</table>
									-->
									<input type="button" value="Cancel" class="ms-ButtonHeightWidth" ng-click="cancelForm()" />
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</div>